/*animation start*/

#animation_testing{
	 position: relative;

	height :200px;

	display: flex;

	width: 200px;

	border-radius: 50%;

	background-color: red;

	align-items: center;

	text-align: center;
	margin-top: 50px;
    margin-left: 20px;
}

#animation_testing p{

	
	margin: 0px auto;
}

@keyframes mymove{
	from {left :0px;}
	to {left:200px;}
}

/*animation end*/